body {
    font-family: var( --font-family-r);
}

.main-pandabg {
    width: 100%;
    height: 390px;
    background: url(../../assets/images/panda_bg.png) no-repeat center center;
    background-size: cover;
}

@media(max-width:999px) {
    .main-pandabg {
        height: 369px;
    }
}

@media(max-width:639px) {
    .main-pandabg {
        height: 187px;
    }
}

.container .orange {
    color: #fe9013;
}

.pick-and-feed-donate {
    background: var(--color-orange-gradient);
}

.pick-and-feed-donate .container {
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 170px;
}

@media(max-width:1599px) {
    .pick-and-feed-donate .container {
        max-width: 940px;
        padding-bottom: 30px;
    }
}

@media(max-width:999px) {
    .pick-and-feed-donate .container {
        max-width: 600px;
        padding-bottom: 46px;
    }
}

@media(max-width:639px) {
    .pick-and-feed-donate .container {
        max-width: 300px;
        padding-bottom: 20px;
    }
}

.footer-donate {
    background: black;
}

.footer-donate .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.donate-text {
    padding-top: 40px;
    color: #fff;
}

.donate-text h3 {
    display: block;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: left;
}

@media(max-width:1599px) {
    .donate-text h3 {
        max-width: 778px;
        white-space: normal;
    }
}

@media(max-width:999px) {
    .donate-text h3 {
        max-width: 600px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .donate-text .orange {
        font-size: 36px;
        font-weight: 400;
        line-height: 46px;
    }
}

@media(max-width:639px) {
    .donate-text h3 {
        max-width: 300px;
    }
}

.donate-text p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

@media(max-width:999px) {
    .donate-text p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.donate-text .orange {
    margin-top: 40px;
}

@media(max-width:1599px) {
    .donate-text .orange {
        margin-top: 65px;
    }
}

@media(max-width:1000px) {
    .donate-text .orange {
        margin-top: 65px;
    }
}

@media(max-width:639px) {
    .donate-text .orange {
        margin-top: 40px;
    }
}

.donation-act {
    margin-top: 60px;
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    padding: 40px 92px 60px;
}

@media(max-width:1599px) {
    .donation-act {
        margin-top: 40px;
        padding: 20px 65px 30px;
    }
}

@media(max-width:999px) {
    .donation-act {
        padding: 0;
    }
}

.donation-act h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}

@media(max-width:639px) {
    .donation-act h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
    }
}

.donation-act-text {
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    margin: 0;
    padding-top: 20px;
}

@media(max-width:1599px) {
    .donation-act-text {
        width: 849px;
    }
}

@media(max-width:999px) {
    .donation-act-text {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
    }
}

@media(max-width:639px) {
    .donation-act-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
    }
}

.donation-act .wrapper {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

@media(max-width:1599px) {
    .donation-act .wrapper {
        margin-left: 25px;
    }
}

.donation-act .wrapper .four {
    display: block;
}

.donation-act .wrapper p {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-black-blue);
}

@media(max-width:639px) {
    .donation-act .wrapper p {
        font-size: 9px;
        line-height: 13px;
        text-align: center;
        width: 89px;
    }
}

.donation-act .wrapper span {
    font-size: 72px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}

@media(max-width:639px) {
    .donation-act .wrapper span {
        font-size: 41px;
        line-height: 32px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

.donation-act .wrapper .center {
    margin-left: 12px;
}

@media(max-width:639px) {
    .donation-act .wrapper .center {
        margin-left: 0;
    }
}

.donation-act .wrapper .rightside {
    margin-left: 64px;
}

@media(max-width:639px) {
    .rightside img {
        width: 160px;
        height: 138px;
    }
    .donation-act .wrapper .rightside {
        margin-left: 35px;
    }
}

.donation-act .amount {
    margin-top: 48px;
}

.donation-act .amount p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.pick-feed-slider {
    position: relative;
}

.pick-feed-range {
    padding: 0 11px;
    box-sizing: border-box;
    width: 100%;
    -webkit-appearance: none;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    transition: opacity 0.2s;
    position: relative;
}

.pick-feed-slider-dots {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    pointer-events: none;
    top: 9px;
    padding: 0 26px;
}

@media(max-width:1599px) {
    .pick-feed-slider-dots span:nth-child(-n+1) {
        display: none;
    }
    .pick-feed-values span:nth-child(-n+1) {
        display: none;
    }
}

@media(max-width:999px) {
    .pick-feed-slider-dots span:nth-child(-n+3) {
        display: none;
    }
    .pick-feed-values span:nth-child(-n+3) {
        display: none;
    }
    .pick-feed-values-item:nth-child(6) {
        color: #FE9013;
    }
}

.pick-feed-slider-dot {
    background: #FFEE2E;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    z-index: 2;
    position: relative;
}

.pick-feed-slider-dot:hover {
    cursor: pointer;
}

.pick-feed-slider-line {
    pointer-events: none;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    top: 5px;
    left: 28px;
    right: 28px;
    background: #767474;
    z-index: 1;
    border: none;
}

.pick-feed-values {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    width: 101%;
    justify-content: space-between;
    top: 38px;
}

.pick-feed-values-item {
    width: 75px;
    color: #333B41;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    cursor: pointer;
}

@media(max-width:639px) {
    .pick-feed-values-item {
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
    }
}

.pick-feed-values-item-active {
    color: #FE9013;
}

.footer-donate {
    position: relative;
}

.donate-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.donate-amount-input {
    display: flex;
    position: relative;
    margin: 92px auto 0 auto;
}

.donate-amount-input p {
    position: absolute;
    left: 248px;
    top: 4px;
    color: #929699;
}

.donate-amount-input-input {
    width: 268px;
    height: 54px;
    padding: 0 17px;
    border: 1px solid #929699;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
}

.donate-footer-notes {
    margin: 26px auto 0 auto;
}

#Once {
    margin-left: 50px;
}

.donate-footer-btn {
    margin: 20px auto;
    height: 54px;
    width: 298px;
    background: var(--color-orange);
    border: none;
    text-decoration: none;
    border-radius: 25px;
    font-family: var(--font-family-r);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22.4px;
    color: rgba(255, 255, 255, 1);
}

.donate-footer-btn:hover {
    background: #E47209;
}

.donate-footer-btn:active {
    background: var(--color-green);
}

.donate-footer-text-wrapper {
    margin: 0 auto;
}

.donate-footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--color-black-blue);
}

@media(max-width:880px) {
    .footer-donate .footer-center {
        bottom: -10px;
    }
}