body {
    overflow-x: hidden;
    overflow: hidden;
}

.header-nav-link-active {
    text-decoration: none;
    font-size: 16px;
}

.animal-online-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 780px;
    background: url(../../assets/images/Giant\ Panda.png) no-repeat center center;
    background-size: cover;
}

.orange-circle {
    position: absolute;
    left: 50.5%;
    top: 2%;
    width: 465px;
    height: 465px;
    background: var(--color-orange);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.animal-online .wrapper {
    position: relative;
}

.animal-online-text {
    position: absolute;
    max-width: 500px;
    top: -2%;
    left: 55%;
    font-family: var(--font-family-b);
    line-height: 75%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 106px;
    text-align: center;
    font-weight: 700;
}

@media (max-width:1200px) {
    .animal-online-text {
        left: 52%;
    }
}

.animal-online-btn {
    position: absolute;
    top: 78%;
    left: 61.5%;
    width: 300px;
    height: 54px;
    background: var(--color-orange);
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    font-family: var(--font-family-r);
    font-size: 16px;
    text-transform: uppercase;
}

.animal-online-btn:hover {
    color: #fff;
    background: #E47209;
    cursor: pointer;
}

.animal-online-btn:active {
    background: var(--color-green);
}

.animal-online-text-orange {
    color: var(--color-yellow);
}

@media (max-width:1000px) {
    .animal-online-content {
        height: 504px;
    }
    .bg-image {
        height: 584px;
    }
    .orange-circle {
        width: 367px;
        height: 367px;
        left: 45.5%;
        top: -1.5%;
        z-index: -1;
    }
    .animal-online-text {
        font-family: var(--font-family-r);
        font-size: 85px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: center;
        left: 46.5%;
        top: -8.5%;
    }
    .animal-online-btn {
        top: 80%;
        left: 56.5%;
    }
}

@media(max-width:640px) {
    .animal-online-content {
        height: 373px;
    }
    .bg-image {
        height: 373px;
    }
    .orange-circle {
        width: 237px;
        height: 237px;
        top: 44px;
        left: 330px;
    }
    .animal-online-text {
        top: 29px;
        left: 365px;
        max-width: 255px;
        font-size: 54px;
        font-weight: 700;
        line-height: 41px;
    }
    .animal-online-btn {
        top: 74%;
        left: 3.5%;
    }
}

@media(max-width:600px) {
    .animal-online-content {
        height: 221px;
    }
    .bg-image {
        height: 221px;
    }
    .orange-circle {
        width: 119px;
        height: 119px;
        top: 56px;
        left: 154px;
    }
    .animal-online-text {
        top: 42px;
        left: 162px;
        max-width: 128px;
        font-size: 27px;
        font-weight: 700;
        line-height: 20px;
    }
    .animal-online-btn {
        top: 110%;
        left: 3.5%;
    }
}

@media(max-width:320px) {
    .orange-circle {
        top: 56px;
        left: 160px;
    }
    .animal-online-text {
        top: 48px;
        left: 178px;
        max-width: 128px;
        font-size: 27.21px;
        font-weight: 700;
        line-height: 20.41px;
    }
    .animal-online-btn {
        top: 110%;
        left: 3.5%;
    }
}


/* Backstage */

.backstage {
    margin: 140px auto 180px auto;
    max-width: 1160px;
}

.backstage .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.backstage-img {
    background: url(../../assets/images/bamboo-cap.png) no-repeat center center;
    background-size: cover;
    width: 608px;
    height: 403px;
}

.backstage-content {
    margin-left: 87px;
    width: 465px;
    text-align: left;
    font-family: var(--font-family-r);
    color: var(--color-black-blue);
}

.backstage-content-title {
    margin-top: 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
}

.backstge-content-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.backstge-content-text2 {
    margin-top: 34px;
    margin-bottom: 0;
}

.backstage-content-subtitle {
    font-size: 24px;
    line-height: 120%;
}

.side-flower {
    position: absolute;
    top: 792px;
    right: 0;
}

@media (max-width:1599px) {
    .backstage {
        margin: 100px auto 180px auto;
    }
    .backstage .container {
        margin: 0 auto;
    }
    .backstage-img {
        width: 100%;
        height: 408px;
    }
    .backstage-content {
        margin-left: 31px;
    }
    .side-flower {
        display: none;
    }
}

@media (max-width: 1000px) {
    .backstage {
        margin: 100px 30px 160px 30px;
    }
}

@media(max-width:900px) {
    .backstage-img {
        display: none;
    }
    .backstage .container {
        grid-template-columns: 1fr, 20%;
    }
}

@media(max-width:640px) {
    .backstage {
        margin: 60px 20px 45px 20px;
    }
    .backstage-content {
        margin-left: 0;
    }
    .backstage-content-title {
        margin-bottom: 20px;
    }
    .backstge-content-text {
        margin-bottom: 30px;
    }
    .backstge-content-text2 {
        width: 495px;
        margin-top: 20px;
    }
    .side-flower-wrapper {
        overflow: hidden;
    }
    .side-flower {
        overflow: hidden;
        display: inherit;
        width: 128px;
        height: 476px;
        top: 55%;
    }
}

@media(max-width:500px) {
    .backstage-content {
        width: 300px
    }
    .backstage-content-title,
    .backstage-content-subtitle {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .backstage-content-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
    .side-flower {
        z-index: -1;
        top: 40%;
        right: 0%;
        width: 100px;
        height: 220px;
    }
}

@media(max-width:320px) {
    .backstage {
        margin: 105px 0 45px 10px;
    }
    .backstage-content-title {
        margin-bottom: 10px;
    }
    .backstge-content-text {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .backstage-content-subtitle {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .backstge-content-text2 {
        width: 300px;
    }
    .side-flower {
        z-index: -1;
        top: 40%;
        right: 0%;
        width: 25px;
        height: 200px;
    }
}


/* PETS */

.pets {
    position: relative;
}

.pets .wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 872px;
    max-width: 1160px;
    margin: 0px auto;
}

.pets-card {
    position: relative;
    overflow: hidden;
    z-index: -1;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #FA6F32;
    border-image-source: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    border-image-slice: 1;
    margin-bottom: 20px;
}

.pets-card:nth-child(6) {
    display: none;
}

.pets-card:hover {
    background-color: rgba(0, 0, 0, 0.4);
}


/* .pets-card:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    color: #fdfdfd;
}

.pets-card:hover .pets-card-image {
    transform: scale(1.1);
}

.pets-card:hover .card-content-text {
    top: 0;
}

.pets-card:hover .card-content-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .5s;
    opacity: .5;
    text-transform: uppercase;
} */

.pets p {
    padding: 0;
    margin: 0;
}

.card-content {
    display: flex;
    font-family: var(--font-family-r);
    margin-left: 16px;
}

.card-content-title {
    font-family: var(--font-family-b);
    padding: 0;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
}

.card-content p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
}

.card-image {
    margin-left: auto;
    margin-right: 10px;
}

.pets-card {
    font-family: var(--font-family-r);
}

.pets-card-image {
    width: 100%;
}

.pets-button-wrapper {
    margin: 0 auto;
    max-width: 300px;
}

.pets-button {
    width: 298px;
    height: 54px;
    margin: 80px auto 100px;
    background: #FE9013;
    border: none;
    border-radius: 25px;
    font-family: var(--font-family-r);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22.4px;
    color: rgba(255, 255, 255, 1);
}

.pets-button:hover {
    background: #E47209;
}

.pets-button:active {
    background: var(--color-green);
}

.left-arrow {
    width: 62px;
    height: 62px;
    background: var(--color-orange);
    position: absolute;
    border-radius: 50%;
    left: -8%;
    top: 45%;
}

.right-arrow {
    width: 62px;
    height: 62px;
    background: var(--color-orange);
    position: absolute;
    right: -8%;
    border-radius: 50%;
    top: 45%;
}

.left-arrow:hover,
.right-arrow:hover {
    background: var(--color-green);
}

.right-arrow img {
    position: absolute;
    left: 37.1%;
    top: 43.55%;
}

.left-arrow img {
    position: absolute;
    left: 37.1%;
    top: 43.55%;
}

.palm {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.palm-adapt {
    display: none;
    z-index: -1;
}

.strelitzia {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(max-width:1599px) {
    .pets-card {
        margin-bottom: 92px;
    }
    .pets-card-image {
        width: 324px;
    }
    .left-arrow {
        left: 35%;
        top: 44%;
    }
    .right-arrow {
        right: 35%;
        top: 44%;
    }
    .palm {
        display: none;
    }
    .palm-adapt {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    .strelitzia {
        width: 24%;
    }
}

@media (max-width:1000px) {
    .pets .wrapper {
        margin: 0 30px;
        height: 801px;
    }
    .pets-card {
        height: 354px;
    }
    .pets-card-image {
        width: 294px;
    }
    .left-arrow {
        left: 34%;
        top: 46%;
    }
    .right-arrow {
        right: 34%;
        top: 46%;
    }
    .card-content-text {
        margin-top: 5px;
    }
    .pets-card:nth-child(6) {
        display: block;
    }
    .pets-card:nth-child(7) {
        display: none;
    }
    .pets-button {
        margin-bottom: 140px;
    }
}

@media(max-width:980px) {
    .pets .pets-card:nth-last-child(-n+2) {
        display: none;
    }
    .pets-card-image {
        width: 280px;
    }
    .pets-button {
        margin-bottom: 100px;
    }
}

@media(max-width:640px) {
    .pets .wrapper {
        margin: 0 20px;
    }
    .pets-card {
        margin-bottom: 92px;
        height: 332px;
    }
    .card-content-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        margin: 0;
    }
    .pets-button {
        margin-top: 13px;
    }
    .left-arrow {
        left: 37%;
        top: 42.5%;
    }
    .right-arrow {
        right: 37%;
        top: 42.5%;
    }
    .palm-adapt {
        left: -8.5%;
        bottom: 0;
    }
    .strelitzia {
        width: 30%;
    }
}

@media(max-width:639px) {
    .pets .wrapper {
        height: 100%;
        margin: 0 30px;
        justify-content: center;
    }
    .left-arrow,
    .right-arrow {
        display: none;
    }
    .pets-card {
        margin-bottom: 20px;
    }
    .pets-button {
        margin: 0 auto 60px;
    }
    .palm-adapt {
        left: -5%;
        bottom: 0%;
        width: 30%;
    }
}

@media(max-width:320px) {
    .pets .wrapper {
        margin: 0 20px 0 10px;
    }
    .card-content {
        margin-left: 10px;
    }
    .card-content-title {
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
    }
    .strelitzia {
        width: 30%;
        right: -7%;
    }
    .pets-button {
        margin: -5px auto 60px;
    }
}


/* pick and feed */

.pick-and-feed-bg {
    padding: 69px 0px 100px 0px;
    background: var(--color-orange-gradient);
}

.pick-and-feed .container {
    background: rgba(253, 253, 255, 0.52);
    box-sizing: border-box;
    border-radius: 20px;
    max-width: 1160px;
    margin: 0 auto;
}

.pick-and-feed-text {
    font-family: var(--font-family-r);
    color: var(--color-black-blue);
    text-align: left;
}

.emergency-support:hover {
    color: #FE9013;
    cursor: pointer;
}

.pick-and-feed-title {
    margin: 0;
    padding-top: 41px;
    padding-bottom: 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    color: #FE9013;
}

.pick-and-feed-subtitle,
.pick-and-feed-bold,
.pick-and-feed-notbold {
    margin-left: 97px;
}

.pick-and-feed-subtitle {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
}

.pick-and-feed-bold {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.pick-and-feed-notbold {
    max-width: 863px;
    font-size: 16px;
    line-height: 21px;
}

.pick-and-feed-notbold a {
    display: inline;
    outline: none;
    text-decoration: none;
    color: var(--color-black-blue);
    border-bottom: 1px solid #FE9013;
}

.pick-and-feed h3 {
    margin: 60px 0 40px 0;
    font-family: var(--font-family-r);
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
    color: var(--color-black-blue);
}

.pick-and-feed .wrapper {
    display: flex;
    margin-left: 186px;
    margin-right: 210px;
    justify-content: space-between;
    align-items: center;
}

.pick-and-feed .card {
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    border: 1px solid;
    border-image-source: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-image-slice: 1;
    border-radius: 5px;
}

.pick-and-feed .card-image {
    height: 168px;
}

.pick-and-feed .pay-img {
    margin-top: 54px;
    margin-left: 30px;
}

.pick-and-feed .zoo-img {
    margin-top: 38px;
    margin-left: 41px;
}

.pick-and-feed .monkey-img {
    margin-top: 48px;
    margin-left: 22px;
}

.pick-and-feed .card-text {
    margin: 0;
    padding-top: 30px;
    max-width: 168px;
    font-family: var(--font-family-r);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-black-blue);
}

.pick-and-feed-button-wrapper {
    width: 298px;
    margin: 0 auto;
}

.pick-and-feed-button {
    margin: 120px 0 60px 0;
    width: 298px;
    height: 54px;
    background: var(--color-orange);
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    font-family: var(--font-family-r);
    font-size: 16px;
    text-transform: uppercase;
}

.pick-and-feed-button:hover {
    background: #E47209;
    cursor: pointer;
}

.pick-and-feed-button:active {
    background: var(--color-green);
}

.pick-and-feed-greenarrows {
    display: none;
}

@media (max-width:1000px) {
    .pick-and-feed-bg {
        padding: 30px;
        padding-bottom: 50px;
    }
    .pick-and-feed .container {
        border-radius: 20px;
    }
    .pick-and-feed-title {
        padding-top: 30px;
    }
    .pick-and-feed-subtitle,
    .pick-and-feed-bold,
    .pick-and-feed-notbold {
        margin-left: 49px;
    }
    .pick-and-feed-subtitle {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .pick-and-feed-bold {
        font-family: var(--font-family-b);
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
    .pick-and-feed-bold,
    .pick-and-feed-notbold {
        max-width: 813px;
    }
    .pick-and-feed h3 {
        margin: 40px auto 38px;
    }
    .pick-and-feed .wrapper {
        margin: 0 9.5%;
        justify-content: space-between;
    }
    .pick-and-feed-button {
        margin: 140px 0 50px 0;
    }
}

@media (max-width:730px) {
    .pick-and-feed-title {
        padding-top: 10px;
        font-size: 42px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
    }
    .pick-and-feed-subtitle,
    .pick-and-feed-bold,
    .pick-and-feed-notbold {
        margin-top: 20px;
        margin-left: 20px;
    }
    .pick-and-feed-subtitle {
        margin-top: 20px;
        margin-bottom: 0;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }
    .pick-and-feed-notbold {
        margin-top: 10px;
    }
    .pick-and-feed h3 {
        margin: 30px auto 20px;
    }
    .pick-and-feed-bg {
        padding: 20px 0;
    }
    .pick-and-feed .wrapper {
        position: relative;
        margin: 0 30px 0 20px;
    }
    .pick-and-feed-bigarrows {
        display: none;
    }
    .pick-and-feed-button {
        margin: 116px 0 60px 0;
    }
    .pick-and-feed-greenarrows {
        display: block;
        position: absolute;
        top: -10%;
    }
    .green-l {
        left: 25%;
    }
    .green-r {
        right: 25%;
    }
}

@media (max-width:560px) {
    .pick-and-feed .wrapper {
        flex-direction: column;
    }
    .pick-and-feed-greenarrows {
        transform: rotate(87deg);
    }
    .pick-and-feed-content .card {
        margin-bottom: 74px;
    }
    .green-r {
        top: 100%;
        left: 0;
        right: -52%;
    }
    .green-l {
        top: 65%;
        left: 0;
        right: -52%;
    }
    .pick-and-feed-bold,
    .pick-and-feed-notbold {
        display: none;
    }
}

@media (max-width:320px) {
    .green-r {
        top: 84.5%;
        left: 0;
        right: -90%;
    }
    .green-l {
        top: 51%;
        left: 0;
        right: -90%;
    }
    .pick-and-feed-bg {
        padding: 20px 11px;
    }
    .pick-and-feed-button {
        box-sizing: border-box;
        width: 298px;
        margin: 20px 0 40px;
    }
    .pick-and-feed-title {
        padding-top: 20px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
    }
    .pick-and-feed-subtitle {
        font-family: var(--font-family-b);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        margin-left: 8px;
        margin-top: 11px;
    }
    .pick-and-feed h3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        margin: 20px auto;
    }
    .pick-and-feed .card-text {
        padding-top: 10px;
    }
}


/* Testimonials */

.testimonials {
    position: relative;
    box-sizing: border-box;
}

.testimonials h3 {
    margin: 0;
    margin-top: 140px;
    color: var(--color-black-blue);
    font-family: var(--font-family-r);
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
}

.testimonials .container {
    max-width: 1160px;
    margin: 0 auto;
}

.testimonials-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 47px;
}

.testimonials-item {
    background: var(--color-gray-light);
    padding: 15px 15px 0 16px;
    max-height: 391px;
    overflow: hidden;
    border: 1px solid rgba(243, 169, 248, 0.66);
    border-radius: 20px;
}

.testimonials p {
    margin: 0;
    font-family: var(--font-family-r);
    color: #bdbdbd;
}

.testimonials-item-container {
    display: flex;
}

.testimonials-item-container img {
    padding-right: 10px;
    padding-bottom: 11px;
}

.item-text {
    padding-bottom: 20px;
}

.testimonials-item .item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: black;
}

.testimonials-item .item-text {
    color: var(--color-gray);
    font-size: 15px;
}

.testimonials-range {
    margin: 21px auto 31px auto;
    width: 599px;
    height: 8px;
    border-radius: 4px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}

.testimonials-range div:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115.2px;
    height: 6px;
    border-radius: 3px;
    background-color: #FE9013;
    cursor: pointer;
}

.testimonials-range div {
    position: relative;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 4px;
    background-color: #f1f3f2;
}

.testimonials .container button {
    height: 54px;
    width: 298px;
    margin-bottom: 180px;
    color: #FFFFFF;
    background: var(--color-orange);
    font-family: var(--font-family-r);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.testimonials .container button:hover {
    background: #E47209;
    cursor: pointer;
}

.testimonials .container button:active {
    background: var(--color-green);
}

.testimonials-leaves {
    position: absolute;
    z-index: -1;
    right: 0%;
    bottom: -20%;
}

@media(max-width:1000px) {
    .testimonials .container {
        margin: 0 30px;
    }
    .testimonials-cards {
        margin-top: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
    .testimonials-cards .testimonials-item:last-child {
        display: none;
    }
    .testimonials-item {
        box-sizing: border-box;
        height: 391px;
    }
    .testimonials h3 {
        margin-top: 100px;
    }
    .testimonials-range {
        width: 42%;
    }
    .testimonials-range div:before {
        width: 18%;
    }
    .testimonials .container button {
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .testimonials-leaves {
        width: 20%;
        position: absolute;
        right: 0%;
    }
}

@media(max-width:640px) {
    .testimonials .container {
        margin: 0 20px 80px;
    }
    .testimonials-cards {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .testimonials h3 {
        margin-top: 60px;
    }
    .testimonials-item {
        max-height: 109px;
    }
    .testimonials-range {
        display: none;
    }
    .testimonials .container button {
        width: 240px;
        margin-top: 40px;
        margin-bottom: 0;
    }
    .button-leave-feedback {
        margin: 0 auto;
        max-width: 240px;
    }
    .testimonials-leaves {
        bottom: -30%;
    }
}

@media(max-width:320px) {
    .testimonials .container {
        margin: 0 10px 60px;
    }
    .testimonials-cards {
        margin-top: 20px;
    }
    .testimonials .container button {
        margin-top: 30px;
    }
    .testimonials h3 {
        margin-top: 30px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
    }
    .testimonials-leaves {
        bottom: -20%;
    }
}