h1 {
    font-size: 19px;
    text-align: center;
}

.header {
    background-color: black;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header .wrapper {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    position: relative;
}

.header-logo-title {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 19px;
    color: white;
    font-family: var(--font-family-r);
    padding: 3.55px 4.75px;
}

.header-logo-icon {
    box-sizing: border-box;
    width: 9px;
    height: 38px;
    position: absolute;
    top: 28.64px;
    left: 12.23px;
}

.figma-link {
    margin-left: auto;
}

.header-nav-link {
    text-decoration: none;
    color: white;
    font-family: var(--font-family-r);
    font-size: 16px;
    margin-left: 58px;
}

.active {
    background: var(--color-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-nav-link-active {
    text-decoration: none;
    font-size: 16px;
}

.animal-online-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 780px;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 780px;
    background: url(/assets/images/Giant\ Panda.png) no-repeat center center;
    background-size: cover;
}

.orange-circle {
    position: absolute;
    left: 807px;
    top: 12px;
    width: 465px;
    height: 465px;
    background: var(--color-orange);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.animal-online .wrapper {
    position: relative;
}

.animal-online-text {
    position: absolute;
    max-width: 500px;
    top: -9px;
    left: 880px;
    font-family: var(--font-family-b);
    line-height: 75%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 106px;
    text-align: center;
    font-weight: 700;
}

.animal-online-btn {
    position: absolute;
    top: 546px;
    left: 983px;
    width: 300px;
    height: 54px;
    background: var(--color-orange);
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    font-family: var(--font-family-r);
    font-size: 16px;
    text-transform: uppercase;
}

.animal-online-text-orange {
    color: var(--color-yellow);
}

.backstage {
    margin: 40px auto 180px auto;
    max-width: 1160px;
}

.backstage .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.backstage-content {
    margin-left: 87px;
    text-align: left;
    font-family: var(--font-family-r);
    color: var(--color-black-blue);
}

.backstage-content-title {
    margin-top: 0;
    font-size: 48px;
    line-height: 120%;
}

.backstge-content-text {
    font-size: 16px;
    line-height: 130%;
}

.backstage-content-subtitle {
    font-size: 24px;
    line-height: 120%;
}

.side-flower {
    position: absolute;
    top: 792px;
    right: 0;
}

.pets {
    margin: 0 13.75%;
}

.pets .wrapper {
    display: flex;
    margin: 0 -5px 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pets-card {
    margin: 10px 10px;
    box-sizing: border-box;
    width: 366px;
    height: 426px;
    border-radius: 5px;
    border: 1px solid #FA6F32;
    border-image-source: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    border-image-slice: 1;
}

.pets p {
    padding: 0;
    margin: 0;
}

.card-content {
    display: flex;
    font-family: var(--font-family-r);
    margin-left: 16px;
}

.card-content-btn {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    padding: 0;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 600;
}

.card-content p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
}

.card-image {
    /* width: 33px;
    height: 37px; */
    margin-left: auto;
    margin-right: 10px;
}

.pets-card-image {
    width: 100%;
}

.pets-button {
    width: 25.689%;
    height: 54px;
    margin: 0 37.155% 100px;
    background: #FE9013;
    border: none;
    border-radius: 25px;
    font-family: var(--font-family-r);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22.4px;
    color: rgba(255, 255, 255, 1);
}

.left-arrow,
.right-arrow {
    width: 62px;
    height: 62px;
    background: var(--color-orange);
    position: absolute;
    border-radius: 50%;
}

.right-arrow img {
    position: absolute;
    left: 37.1%;
    top: 43.55%;
}

.left-arrow img {
    position: absolute;
    left: 37.1%;
    top: 43.55%;
}

.left-arrow {
    left: 8.625%;
    top: 1906px;
}

.right-arrow {
    right: 8.625%;
    top: 1906px;
}

.palm {
    position: absolute;
    left: 0;
    top: 2149px;
}

.strelitzia {
    position: absolute;
    right: 0;
    top: 2334px;
}


/* pick and feed */

.pick-and-feed-bg {
    padding: 69px 0 100px 0;
    background: var(--color-orange-gradient);
}

.pick-and-feed .container {
    background: rgba(253, 253, 255, 0.52);
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 1160px;
    margin: 0 auto;
}

.pick-and-feed-text {
    font-family: var(--font-family-r);
    color: var(--color-black-blue);
    text-align: left;
}

.pick-and-feed-title {
    margin: 0;
    padding-top: 41px;
    padding-bottom: 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    color: #FE9013;
}

.pick-and-feed-subtitle,
.pick-and-feed-bold,
.pick-and-feed-notbold {
    margin-left: 87px;
}

.pick-and-feed-subtitle {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
}

.pick-and-feed-bold {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.pick-and-feed-notbold {
    max-width: 863px;
    font-size: 16px;
    line-height: 21px;
}

.pick-and-feed-notbold a {
    display: inline;
    outline: none;
    text-decoration: none;
    color: var(--color-black-blue);
    border-bottom: 1px solid #FE9013;
}

.pick-and-feed h3 {
    margin: 60px 0 40px 0;
    font-family: var(--font-family-r);
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
    color: var(--color-black-blue);
}

.pick-and-feed .wrapper {
    display: flex;
    margin-left: 186px;
    margin-right: 210px;
    justify-content: space-between;
    align-items: center;
}

.pick-and-feed .card {
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    border: 1px solid;
    border-image-source: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-image-slice: 1;
    border-radius: 5px;
}

.pick-and-feed .pay-img {
    margin-top: 54px;
    margin-left: 30px;
}

.pick-and-feed .zoo-img {
    margin-top: 38px;
    margin-left: 41px;
}

.pick-and-feed .monkey-img {
    margin-top: 48px;
    margin-left: 22px;
}

.pick-and-feed .card-text {
    padding-top: 45px;
    max-width: 168px;
    font-family: var(--font-family-r);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-black-blue);
}

.pick-and-feed-button {
    margin: 100px 36% 60px 36%;
    width: 298px;
    height: 54px;
    background: var(--color-orange);
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    font-family: var(--font-family-r);
    font-size: 16px;
    text-transform: uppercase;
}


/* Testimonials */

.testimonials h3 {
    margin-top: 140px;
    color: var(--color-black-blue);
    font-family: var(--font-family-r);
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
}

.testimonials .container {
    max-width: 1160px;
    margin: 0 auto;
}

.testimonials-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 47px;
}

.testimonials-item {
    background: var(--color-gray-light);
    padding: 15px 15px 0 16px;
    max-height: 391px;
    overflow: hidden;
    border: 1px solid rgba(243, 169, 248, 0.66);
    border-radius: 20px;
}

.testimonials p {
    margin: 0;
    font-family: var(--font-family-r);
    color: #bdbdbd;
}

.testimonials-item-container {
    display: flex;
}

.testimonials-item-container img {
    padding-right: 10px;
    padding-bottom: 11px;
}

.item-text {
    padding-bottom: 20px;
}

.testimonials-item .item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: black;
}

.testimonials-item .item-text {
    color: var(--color-gray);
    font-size: 15px;
}

.testimonials-range {
    margin: 21px auto 31px auto;
    width: 599px;
    height: 8px;
    border-radius: 4px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}

.testimonials-range div:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 115.2px;
    height: 6px;
    border-radius: 3px;
    background-color: #FE9013;
    cursor: pointer;
}

.testimonials-range div {
    position: relative;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 4px;
    background-color: #f1f3f2;
}

.testimonials .container button {
    height: 54px;
    width: 298px;
    color: #FFFFFF;
    background: var(--color-orange);
    font-family: var(--font-family-r);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.testimonials-leaves {
    position: absolute;
    z-index: -1;
    right: 0px;
    top: 4257px;
}

.footer {
    margin-top: 204px;
    background: black;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1160px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}

.footer-leftside,
.footer-center,
.footer-rightside {
    margin-bottom: 50px;
}

.footer-logo-title {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 19px;
    color: white;
    font-family: var(--font-family-r);
    padding: 3.55px 4.75px;
}

.footer-logo-icon {
    box-sizing: border-box;
    width: 9px;
    height: 38px;
    position: absolute;
    top: 17.64px;
    left: 12.23px;
}

.footer-logo {
    display: flex;
    position: relative;
    margin-top: 41px;
}

.footer-logo h2 {
    margin: 0;
    font-size: 19px;
    text-align: center;
}

.footer-btn {
    margin-top: 68px;
    height: 54px;
    width: 298px;
    color: #FFFFFF;
    background: var(--color-orange);
    font-family: var(--font-family-r);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.social-media {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
}

.social-media-item {
    display: flex;
    margin-top: 10px;
}

.social-media-item p {
    margin: 5px 0 0 12px;
    font-family: var(--font-family-r);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.social-media-item .circle {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #C4C4C4;
}

.footer-center {
    display: flex;
    align-items: flex-end;
    margin-right: 32px;
}

.footer-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-nav-link {
    text-decoration: none;
    color: white;
    font-family: var(--font-family-r);
    font-size: 16px;
    line-height: 22.4px;
}

.footer-rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-rightside h2 {
    margin: 40px 0 0 0;
    font-family: var(--font-family-r);
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.footer-rightside .email {
    margin-top: 14px;
    display: flex;
    gap: 10px;
}

.footer-email {
    background: black;
    width: 228px;
    height: 42px;
    font-family: var(--font-family-r);
    border: 1px solid #F9804B;
    color: #bdbdbd;
}

.footer-submit {
    background: var(--color-gray-light);
    width: 129px;
    font-family: var(--font-family-r);
    color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 5px;
}

.footer-designedby p {
    margin: 0 0 0 140px;
    font-weight: 100;
    font-family: var(--font-family-l);
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #fff;
}