h1 {
    font-size: 19px;
    text-align: center;
}

.header {
    background-color: black;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header .wrapper {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    position: relative;
}

.header-logo a {
    text-decoration: none;
    outline: none;
}

.header-logo:hover {
    background: var(--color-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}

.header-logo-title {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 19px;
    color: white;
    font-family: var(--font-family-r);
    padding: 3.55px 4.75px;
}

.header-logo-icon {
    box-sizing: border-box;
    width: 9px;
    height: 38px;
    position: absolute;
    top: 28.64px;
    left: 12.23px;
}

.figma-link {
    margin-left: auto;
}

.header-nav-link {
    text-decoration: none;
    color: white;
    font-family: var(--font-family-r);
    font-size: 16px;
    margin-left: 58px;
}

.active {
    background: var(--color-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-nav-link:hover {
    background: var(--color-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}